$width: 960px;
$height: 100%;
$col_margin:0px;
$columns: 24;

$col_width: ($width - ($col_margin * ($columns - 1))) / $columns;
$col_total_width: $col_width + $col_margin;


/*Grid system*/

@mixin row() {
    float: left;
    clear: both;
    width: $width;
}

@mixin col($n:1) {
    float: left;
    @include span($n);
}

@mixin span($n:1) {
    width: ($n * $col_width) + (($n - 1) * $col_margin);
    @if $n==$columns {
        margin-right: 0;
    }
    @else {
        margin-right: $col_margin;
    }
}
/* the last column in a row needs this */

@mixin last() {
    margin-right: 0;
}
/* prepend n blank columns  */

@mixin prepend($n: 1) {
    margin-left: $col_total_width * $n
}
/* append n blank columns */

@mixin append($n: 1) {
    margin-right: $col_total_width * $n + $col_margin
}

.section { @include row; }
.section .main { @include col(18); }
.section .sidebar { @include col(6); @include last; }
.section .promo { 
  @include col(12); 
  @include prepend(6); 
  @include append(6); 
  @include last;
}
