.ui {
  position: absolute;
  display: inline-block;

  font-family: 'Open Sans',sans-serif;
  font-size: 12px;  
  
  background: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #9e9e9e;
  
  padding: 0px 10px 10px 0px;
  margin: 0px 0px 10px 10px;

  z-index: 5;
}

.ui h3 {
  padding-bottom: 2px;
  margin: 0;
  letter-spacing: 1px;  
  display: inline-block;  
}

undefined/**.ui a, **/li {
  list-style-type: none;
  text-decoration: none;
}

#map-legend-container {
  top: 10px;
  right: 10px;
  width: 200px;
  height: 100px;
}

undefined/**#map-legend-container p{
  text-align: right;
}
**/
#map-legend-container ul {
  list-style-type: none;

}

div.legend {
  padding: 10px 20px 0px 10px;
}

ul.legend-labels li {
  display: block;
  list-style: none;
  margin-left: 0;
  text-align: left;
  line-height: 18px;
  padding-top: 0;
  padding-bottom: 4px;
}

ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 0;
  opacity: 0.7;
  border: 1px solid #cecece; 
}

ul.legend-labels li span.point {
  border-radius: 50%;
  margin-top: 4px;
  width: 7px;
  height: 7px;
}

ul.legend-labels li span.point-donut {
  background: none;
  border-radius: 50%;
  border-color: #101010;
  border-width: 3px;
  padding: 2px;
  margin-top: 3px;
  width: 1px;
  height: 1px;
}

span.through-truck {
  background-color: #bd9faa;/*hsl(10,6%,81%);*/
  height: 5px;
}

span.local-truck {
  background-color: #e9dae0; /*hsl(336,6%,91%);*/
  height: 5px;
}

span.zipcodes {
  border: 1px dashed #989898;
  background-color: #fefefe;
}