html,
body,
map {
    font-family: 'Open Sans', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body > #wrapper {
    color: #004400;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 295px;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: #d0cece;
    box-shadow: 1px 1px 3px #9e9e9e;
}

div {
    float: left;
    clear: both;
    /* padding: 1px, 1px, 1px, 1px;*/
    
    margin: 0px;
    position: relative;
    color: white;
    text-align: left;
    font-size: 12px;
}
/*dropcaps
p:first-child:first-letter { 
    float: left; 
    color: #903;
    font-size: 36px;  
    line-height: 28px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px; 
    font-family: Georgia; 
}
*/
*:focus {
    outline: 0;
}
#menu {
    font-family: 'Open Sans', sans-serif;
    background-color: #d0cece;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
    border: 1px solid #cecece;
    box-shadow: 1px 1px 3px #9e9e9e;
}
a{
    color:#fefefe;
}
IMG{
    display: block;
    margin-left: 15px;
    margin-right: auto
}

#logo {
    margin-left: 0px;
    height: 60px;
}

#text1 {
    color: #ffffff;
    line-height: 120%;
    margin-left: 30px;
}

.container {
    background-color: #d0cece;
    height: 100% relative;
    width: 317px;
    /*it should be width:24% just for instant fix of the text overflow ;*/
    margin-left: 18px;
    padding-top: 20px;
   overflow-y: scroll;
}
.tab-content{
    margin-top: 0px;
    padding-top: 0px;
}
.p #text-size {
    font-size: 12px;
}

#footer {
    float: left;
    height: 30px;
    background-color: #d0cece;
    width: 300px;
    /*it should be width:24% ;*/
    
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.footer>.nav-pills {
    padding-left: 20px;
}

.footer>.nav-pills>li>a {
    border: 0px;
    margin: 10px 0px 0px 0px;
    background-color: #d0cece;
    padding: 0px 12px 0px 12px;
}

.footer>.nav-pills>li>a:hover,
.footer>.nav-pills>li>a:focus {
    background-color: #d0cece;
outline: 0 !important;
box-shadow: none !important;
}

p {
    margin-left: 0px;
    max-width: 100%;
}

/*Customizing Bootstrap */
/*nav pills options*/
/* tab color */

.menu.container-fluid {
    padding: 0px;
    margin: 0px;
}

.menu.navbar .navbar-inner {
    align: center;
    padding: 0px;
    margin:0px;
}

.menu.navbar .nav {
    background-color: #d9d9d9;

    margin:0px;
    display: table;
    width: 107%;
    float: none;
}

.menu.navbar .nav li {
    display: table-cell;
    width: 50%;
    float: none;
    background-color: #d9d9d9;
    /*outerborder*/
    margin-left: 0px #d0cece;
    margin-right: 0px #d0cece;
}

.menu.nav-pills>li>a {
    background-color: #d9d9d9;  
    border-color: #333333;
    color: #989898;
    border-radius: 0px ;
    /*top right bottom left*/
    width: auto;
    outline: 0px !important;
}
/* active tab color */
/*ghost button*/

.menu.nav-pills>li.active>a,
.menu.nav-pills>li.active>a:hover,
.menu.nav-pills>li.active>a:focus {
    color: #696969;
    background-color: #d9d9d9;
    /*outerborder*/
    border-radius: 0px;
    outline: 0px !important;
}

.menu.nav-pills>li.active>a:focus {
    background-color: #989898;
    color: #fefefe;

    outline: 0px !important;
    box-shadow: none !important;
}

/* hover tab color */
.menu.nav-pills>li>a:hover {
    border-color: #767676;
    background-color: #d0cece;
    border-radius: 0px;
}

.menu.nav-pills>li>a:active {
    border-color: #787878;
    background-color: #111111;
    border-radius: 0px;
    outline: 0px !important;
    box-shadow: none !important;
}


/*layer button and page option*/
.dlayer{
    color: #1f1f1f;
}
.layers {
    border-color: #696969;
    background-color: #d0cece;
    border-radius: 25px;
    color: #989898;
    margin: 5px 3px 5px 3px;
    width: 50px;
    height: 50px;
    font-size: 7px;
    overflow: hidden;
}

.layers.descrp{
    visibility: hidden;
}
.pressed{
    background-color: #cecece;  
}

.layers>button:hover {
    font-size: 12px;
    color: #989898;
    border: 2px solid #d9d9d9;
}

.layers>button:active:focus {
    background-color: #d9d9d9;
    border: 0px solid #cecece;
    outline: none !important; 
    box-shadow: none !important;
}

.container>.title {
    line-height: 16px;
    margin-top: 0px;
    /* padding-left: 12px;
    padding-right: 12px;
     background-color: #d9d9d9;
    border-radius: 5px;
  box-shadow: 1px 1px 3px #9e9e9e; */
    color: #696969;
    margin-bottom:2px;
}
input[type=submit]::-ms-clear,
input[type=submit]::-ms-reveal {
    display: none; 
    width:0; 
    height:0;}


.glyphicon {
    font-size: 24px;
}

span.glyphicon-link {
    font-size: 3.2em;
}

.btn:active:focus {
    outline: 0px !important;
    box-shadow: 0px !important;
}
.subtitle{
    margin-top: 25px;   
}
#nextsteps {
    width: 90%;
}

.clear {
    width: 110px;
    margin-top: 50px;
    background-color: #d9d9d9;
    color: #989898;
    border: 1px solid #cecece;
    font-size: 12px;
    border-radius: 10px;
}

.next {
    width: 110px;
    margin-top: 50px;
    background-color: #d9d9d9;
    color: #989898;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-size: 12px;
    border-radius: 10px;
}

.col-lg-4 i {
    display: block;
    text-align: center;
    font-size: 12px;
}
/*about page*/

input {
    width: 100px;
    border-radius: 0px;
}

.about {
    text-indent: 10px;
    text-align: left;
    width: 100%;
    color: #1f1f1f;
    line-height: 180%;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 20px;
    padding-top:20px;
    background-color: none;/*#dbdad3*/
    border:2px #393939;
   /* box-shadow: 1px 1px 3px #9e9e9e; */
}


p:.about{
    padding-top:1em;
}
.about.nextsteps {
    margin-top: 50px;
}

.about>.a {
    color: orange;
}
/*credit at footer*/

.aboutus{
    display: none;
    padding:20px;
   width: 295px;

}
.aboutus_show{
    display: block;
}
#aboutus {
    color: #696969;
}


#aboutus.hr {
    width: 90%;
}
#aboutus_b {
    color: #696969; 
}
.contact {
    display: none;
    width: 295px;
    color: #696969;
    padding:20px;

}
/*Legend*/
#contact_b{
    color: #696969;
}
#print_b{
    color: #696969;
}


/*customizing cartodb legend posion for let it little bit higher than baselayer legend */

.baselayer {
    color: #333;
}

.zoombtn {
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 1px 1px 3px #9e9e9e;
}
<<<<<<< HEAD
.glyphzoom {
=======
.glyphicon {
>>>>>>> change zoomin button style
    font-size: 15px;
    color:#696969;
    text-align: center;
    vertical-align: center;
    margin-top:3px;
}

.cartodb-legend.custom {
    bottom:200px;
    width:180px;
}

/*jQuery UI-tooltip*/
.ui-tooltip {
    max-width: 350px;
    min-width:100px;
    font-size:10px;
    line-height:14px;
}