html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}


html {
  position: relative;
  min-height: 100%;
  font-size: 12px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
*:focus {
    outline: none;
}

ul{
    list-style-type: none;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: table;
    width:100%;
}
ul li{
    display: table-cell;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
}


div {
    float: left;
    clear: both;
    margin: 0px;
    border: 1px;
    position: relative;
    text-align: left;
}


div a{
    color:#909090;
    font-weight: bold;
    font-size: 13px;
}


div p{
    margin-left: 0px;
    max-width: 100%;
}
/*
.tabs hr{
    border: 1px #989898;
    height: 1px;
    margin: 10px 0px 10px 0px;
    width: 240px;
    margin-left: 0px;
}
*/

.tabs a {
    color:#08185a; /*orange replacement*/
    text-decoration: none;
}
#logo{
    display: block;
    margin-right: auto

}

#menu {
    background-color: #d0cece;
    line-height: 140%;
    width: 321px; /*Should be changed to responsive later 301+20px*/ 
    height: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #cecece;
    box-shadow: 1px 1px 3px #9e9e9e;
}
#text1 {    
    font-size: 11px;
    margin: 12px;
    vertical-align: center;

}

#menu .menunav{
    float:none;
    background-color: #dedede;
    width:100%;
    height: 50px;
}

#menu .menunav ul {
    height: 100%;
}

#menu .menunav li {

    padding-top: 0px;
    vertical-align: middle;
    background-color: #dedede;
    color: #989898;
}

#menu .menunav li:hover {
    background-color: hsl(0,0%,100%);
}

#menu .menunav li a:active{
    background-color: #fefefe; 
}

#menu .menunav li a:active:focus{
    background-color: #f0f0f0;
    color: #989898;
    font-size: 20px;
}


footer {
    position: absolute;
    bottom: 0px;
    height: 60px; 
    padding-left: 20px;
    text-align: justify;
    /*this part should be merged with menu*/
    width:301px;
    background-color: #d0cece;
    overflow: hidden;
    border: 1px solid #cecece;
    box-shadow: 1px 1px 3px #9e9e9e;
}
footer a{
    color: #696969;  
}



p> .copyright {
    width:270px;
    font-size: 12px;
    vertical-align: middle;
    color:#696969;
    text-align: right;
}



/*glyphicons from awesome font : size fa-2x*/


.selected {
    background-color: #cecece;  
}

/*Buttons at layers only*/
.data-layer{
    width:50px;
    height:50px;
    border-radius: 25px;
    box-shadow:none;
}

.data-layer:hover {
    background-color: hsl(0,0%,100%);
}

/*layer button tab options*/
.dlayer{
    overflow: hidden;
}
.dlayer .env>button,
.dlayer .ngh>button,
.dlayer .ind>button{
    border-radius: 25px;
    box-shadow: none !important;
    border: 1px solid #989898;
    margin: 5px 3px 0px 0px;
}
.dlayer .env>button i,
.dlayer .ngh>button i,
.dlayer .ind>button i{
   font-size: 24px;
    color:#989898;
}
.dlayer .env>button i:hover:active,
.dlayer .ngh>button i:hover:active,
.dlayer .ind>button i:hover:active {
   font-size: 24px;
    color:#334a5a;

}
.dlayer .env>button:hover,
.dlayer .ngh>button:hover,
.dlayer .ind>button:hover{
    background-color: #d6d6d6;
    border: 1px solid #989898;
    color:#334a5a;
    outline: none !important; 
}
.dlayer .env>button:active,
.dlayer .ngh>button:active,
.dlayer .ind>button:active{
    background-color: #fefefe;
    border: 1px solid #cecece;
    color:#334a5a;
    outline: none !important; 
}



.dlayer .env, 
.dlayer .ngh, 
.dlayer .ind {
    margin-bottom: 25px;
    margin-top: 10px;
}

.dlayer .env:not(:first-child), 
.dlayer .ngh:not(:first-child),
.dlayer .ind:not(:first-child){
    padding-right: 10px;
}

.dlayer .ind p{
    margin: 15px 0px 15px 0px;   
}

.tabs {
    height: 100% relative;
    /*it should be width:24% just for instant fix of the text overflow ;*/
    margin: 20px;
    padding-top: 5px;
    overflow-y: scroll;
    display:none; /*$('tabs').hide() $('tabs').css() */
    padding:15px;
    line-height: 180%;
    height:auto;
    max-height:150%;
    overflow:auto;  
}

/*.dlayer .env, 
.dlayer .ngh, 
.dlayer .ind */
.tabs .subtitle{
    margin: 0px 20px 20px 0px; 
    font: 14px bold;
    font-family: 'Open Sans', sans-serif;
    border-left: 5px solid #989898;
    color:#696969;
    text-indent: 5px;
}

.tabs h4{
    font-size: 18px;
    color:#696969;
    padding-bottom:15px; 
}

.tabs p{
    text-indent: 1em;
    margin-bottom: 10px;
}
/*submit data alignment */
.nextsteps {
    width:180px;  
}
.nextsteps p{
    width:200px;
}
.nextsteps >button {
    margin:50px 0px 10px 0px;
    padding: 10px;
    vertical-align: middle;
    background-color: #d9d9d9;
    color: #989898;
    border: 1px solid #989898;
    font-size: 12px;
    border-radius: 10px;
    width:120px;
}

.nextsteps >button:active:hover{
    background-color: #fefefe;
}

.tabs .metadata .desc{
    display:none;
    color:#696969;
    overflow:auto;
    padding:0px;
}
.tabs .metadata .contents {
    overflow-y: scroll;
    width:250px; 
    padding-right:50px;
}

/*about page*/
.tabs .about {
    display:hidden;
    text-indent: 1.6em;
    text-align: left;
    width: 100%;
    color: #1f1f1f;
    line-height: 180%;
    background-color: none;/*#dbdad3*/
   /* box-shadow: 1px 1px 3px #9e9e9e; */
}


.pressed{
    background-color: #fefefe;
    color:#696969;
}
/*credit at footer*/

.tabs .aboutus{
    max-height: 60% absolute;
    display: none;
    padding:20px;
    padding-right: 30px;
    width: 295px;
    color: #696969;
    text-indent: 1.5em;
    overflow:scroll;
}

.accodion{
    width:250px;
}
#aboutus_b {
    color: #696969; 
}

.tabs .contact {
    display: none;
    width: 100%;
    color: #696969;
    padding:20px;

}
.contact #address {
    width:100%;
}




/*Zoomin and out */
.zoombtn {
    position: absolute;
    width:15px;
    top: 10px;
    right: 240px;
}
.zoombtn>button{
    width:25px;
    height:25px;
    background-color: #cecece;
    border:0px;
    vertical-align: middle;
    padding:3px;
    box-shadow: 1px 1px 3px #9e9e9e;
}
.glyphzoom {
    font-size: 15px;
    color:#696969;
    text-align: center;
    vertical-align: middle;
    margin-top:3px;
}

/*accodion at about the data*/
.ui-accordion{
    width:250px;
    border:0px;
    background-color: #d0cece;
}
.ui-accordion:hover{
    border:0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent;
    background-color: #d0cece;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border:0px;
    border-left: 5px solid #989898;
    border-radius: 0px;
    
    } 
.ui-state-default:active:hover, 
.ui-widget-content:active:hover 
.ui-state-default:active:hover, 
.ui-widget-header:active:hover 
.ui-state-default:active:hover {
    border:0px;
}

.ui-widget-content{
    border:0px;
     background: transparent;   
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: transparent;
    background-color: #d0cece;
    padding-top: 0px;
    margin-top: 0px;
    max-height: 100px;
    min-height: 10px;
    max-width: 228px;
    max-height: 100px;
    overflow-y: scroll;
}

/* This is to fix an infowindow issue, do not remove */
div.cartodb-popup .jspPane {
    max-width: 190px;
}

/* use a pointer cursor for all things button related */
button, a {
    cursor: pointer;
}