/*body*/

$height: 968px;
$width: 1280px;
$margin:0px;

/*overall */

html,
body,
map {
    height: $height;
    width: $width;
    padding: 0px;
    margin: $margin;
}

body {
    color: #004400;
}

.section {
    background-color: lightblue;
    padding: 1px, 1px, 1px, 1px;
    margin: 0px;
    text-align: left;
    position: relative;
}

.section {
    .menu {
        position: absolute;
        top: 0;
        left: 0;
    }
    &.nav {
        height: 30px;
    }
    &.footer {
        float: left;
        height: 60px;
        background-color: #cecece;
    }
}

div {
    &.nav li {
        background-color: magenta;
        display: inline;
        //nav style
        padding: 0px 0px 0px 1px;
    }
    &.container {
        background-color: #cecece;
        height: 400px;
        width: 300px;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    a {
        display: block;
        width: 60px;
        background-color: #dddddd;
    }
}
/*style in containers*/